body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: inline;
  background-color: #ebeef4;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 !important;
}

img {
  display: block;
  width: 100%;
}

.navbar {
  width: 20%;
  
  text-align: center;
  border-right: 2px solid rgba(201, 210, 227, 0.5);
  position: fixed;
  
}
  

.logo {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid rgba(201, 210, 227, 0.5);
  padding-bottom: 50px;
}

.sidebar {
  text-align: left;
  margin: 20px;
  padding: 4;
  height: auto;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(91, 90, 90);
  padding: 5px 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: rgba(201, 210, 227, 0.5);
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
  color: rgb(84, 84, 84);
}

.sidebar i {
  float: right;
}

#header {
  display: flex;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 16px;
  width: 100%;
}

#header > p {
  vertical-align: text-bottom;
  padding-top: 21px;
}

.summary {
  width: 80%;
  float: right;
  
}

.flex-container {
  display: flex;
  align-items: stretch;
  margin: 0 4px;
  width: 99%;
}

.flex-container > div {
  margin: 10px;
  color: white;
  padding: 2px;
  border-radius: 5px;
}

.weekly-box {
  background-color: #1f6bff;
  flex-grow: 8;
}

#orange {
  background-color: #ff784a;
}

#pink {
  background-color: #e15671;
}

#green {
  background-color: #0aab7b;
}

#purple {
  background-color: #8845f5;
}

.box-1 {
  flex-grow: 1;
  border-radius: 5px;
}

.box-2 {
  flex-grow: 1;
  border-radius: 5px;
}

.box-3 {
  flex-grow: 1;
  border-radius: 5px;
}

.box-4 {
  
  flex-grow: 1;
  border-radius: 5px;
}


.content {
  padding: 15px;
  font-size: 14px;
  margin-right: 20px;
}

.content > h1 {
  font-size: 18px;
}

.content > h2 {
  font-size: 42px;
  font-weight: bold;
}

.content > p {
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 13px;
}
.content > p::before {
  content: ' \005E';
  padding-right: 2px;
}

.content > a {
  
  text-decoration: none;
  color: white;
}


#myProgress {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

#myBar {
  width: 75%;
  height: 8px;
  background-color: white;
  border-radius: 6px;
}


.weekly {
  padding-right: 55px;
}

.weekly-line1 > p::before {
  content: ' \005E';
  padding-right: 2px;
  margin-top: -5px;
}

.weekly-line1 > h1 {
  font-size: 18px;
}

.weekly-line2 {
  color: white;
  display: flex;
  
}

#weekly-line2-store {
  margin-right: 30px;
}


.weekly-line3 > button {
  padding: 3px 40px;
  background-color: orange;
  border-radius: 15px;
}

.weekly-line3 > p {
  padding-top: 5px;
  font-size: 12px;
}


.box-1,
.box-2
 {
  margin-bottom: 20px;
}

.price {
  display: flex;
}

.bottom-box {
  background-color: white;
  margin-left: 15px;
  padding: 10px;
  width: 47%;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 70px;
}

.bottom-box > h1 {
  font-size: 18px;
  font-weight: bold;
}

.bottom-box > p {
  color: #3c4e71;
}

.items > img {
  width: 40px;
  height: 50px; 
}

.items {
  display: flex;
  margin: 10px 0;
}

.items-description {
  margin-left: 5px;
}

.items-description > a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: blue;
}














































/*
.weekly-color {
  background-color: blue;
}

.box-1 {
  background-color: rgb(255, 123, 0);
}

.box-2 {
  background-color: rgb(185, 0, 185);
}

.size {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.container {
  color: white;  
}

.content {
  padding: 15px;
  font-size: 14px;
}

.content > h1 {
  font-size: 18px;
}

.content > h2 {
  font-size: 40px;
  font-weight: bold;
}

.content > p {
  font-size: 14px;
}
.content > p::before {
  content: ' \005E';
}

.content > a {
  text-decoration: none;
  color: white;
}

.progress {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 10px !important;
  margin-bottom: 5px !important;
}

*/